[access]
	inheritFrom = All-Projects
[project]
	description = Titan Project
[access "refs/*"]
	owner = group user/fektom
[access "refs/for/refs/*"]
	read = group user/fektom
	push = group user/fektom
	label-Code-Review = -2..+2 group user/fektom
	label-Verified = -1..+1 group user/fektom
	rebase = group user/fektom
	removeReviewer = group user/fektom
	submit = group user/fektom
[access "refs/heads/*"]
	read = group user/fektom
	create = group user/fektom
	push = +force group user/fektom
	pushMerge = group user/fektom
[access "refs/tags/*"]
	push = group user/fektom
	push = +force group user/fektom
